<% include partials/header %>

    <h1>Add Book</h1>
    <% if(errors){%>
        <ul>
        <% errors.forEach(function(errors){ %>
            <li><%= errors.msg %> </li>
        <%}) %>
        </ul>
    <%} %>
    <form method='POST' action='/users/add'>
        <label>Book Title</label><br>
        <input type='text' name='book_title'>
        <br>
        <label>Author's Last Name</label><br>
        <input type='text' name='author_lastName'>
        <br>
        <label>Subject</label><br>
        <input type='text' name='subject'>
        <br><br>
        <input type='submit' value='Submit'>
    </form>

    <h1> <%= title %> </h1>
    <ul> 
    <% users.forEach(function(user){ %>
        <li><%= user.book_title %> 
            <%= user.author_lastName %>
            <%= user.subject %> 
            -<a href='#' class='deleteBook' data-id='<%= user._id%>'> 
                Delete </a></li>
    <%}) %>
    </ul>
<% include partials/footer %>


