<link rel="stylesheet" type="text/css" href="css/main.css" />
<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

<% include partials/header %>


    <h1>Add Book</h1>
    <% if(errors){%>
        <ul>
        <% errors.forEach(function(errors){ %>
            <li><%= errors.msg %> </li>
        <%}) %>
        </ul>
    <%} %>
    <form method='POST' action='/users/add'>
        <label>Book Title</label><br>
        <input type='text' name='book_title'>
        <br>
        <label>Author's Name</label><br>
        <input type='text' name='author_Name'>
        <br>
        <label>Subject Matter</label><br>
        <input type='text' name='subject'>
        <br><br>
        <input type='submit' value='Submit' class='btn'>
    </form>

    <h1> <%= title %> </h1>
    <ul> 
    <% users.forEach(function(user){ %>
        <li><%= user.book_title %> 
            by <%= user.author_Name %>
            on the matter of <%= user.subject %> 
            -<a href='#' class='deleteBook' data-id='<%= user._id%>'> 
                Delete </a></li>
    <%}) %>
    </ul>
<% include partials/footer %>


